<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/partials/header/header.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">
    <script src="/partials/producto/index.js"></script>


    <title>Document</title>
</head>
<body>
    <%- include('../partials/header')%>
    <div class="table-container">
        <link rel="stylesheet" href="/partials/showList/list.css">
        <table class="warehouse-table">
            <thead>
                <tr>
                    <th>CODIGO</th>
                    <th>Nombre</th>
                    <th>
                        ACCIONES
                        <button class="action-btn add" title="Agregar almacén">
                            <i class="fas fa-plus"></i>
                        </button>
                    </th>
                </tr>
            </thead>
            <tbody>
                <% dataToSend.forEach(data => { %>
                    <tr tabindex="0">
                        <td><%= data.id %></td>
                        <td><%= data.nombre %></td>
                        <td class="actions">
                            <button 
                                class="action-btn edit" 
                                title="Editar" 
                                data-id="<%= data.id %>">
                                <i class="fas fa-pencil-alt"></i>
                            </button>
                            <button 
                                class="action-btn delete" 
                                title="Eliminar" 
                                data-id="<%= data.id %>">
                                <i class="fas fa-trash"></i>
                            </button>
                            <button 
                                class="action-btn view" 
                                title="Ver" 
                                data-id="<%= data.id %>">
                                <i class="fas fa-eye"></i>
                            </button>
                        </td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
        <button id="add-product-btn" class="add-product-btn">
            <i class="fas fa-plus"></i> Agregar Producto
        </button>
    </div>
</body>
</html>